<div class="education">
  <h2>Education</h2>
    <blockquote>
      <b>University of California, Los Angeles</b><br/>
      <font size="-0.3"><i>Ph.D. in Mechanical Engineering(Robotics)</i>    <span style="float:right;">Sep. 2021 ~ Present</span> </font>
    </blockquote>
    <blockquote>
      <b>Hanyang University</b> <font size = "-0.3"> <span style ="float:right;"> Seoul, Republic of Korea </span> </font><br/>
      <font size="-0.3"><i>B.S. in Mechanical Engineering, Summa Cum Laude</i>    <span style="float:right;">Feb. 2021</span> </font>
    </blockquote>
</div>